<!DOCTYPE html>
<html>
<head>
  <title>Lina | A Restful API provider based on Ruby on Rails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id='lina-navbar' class="navbar navbar-default navbar-fixed-top">
  <div class="brand-header">
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo.png' %>
    </a>
  </div>
</nav>
<%= yield %>

</body>
</html>
